:root {
    --white-color: #fff;
    --black-color: #000000;


    --primary-black-color: #1A1E29;
    --primary-green-color: #01C38E;
    --primary-blue-color: #132D46;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    /* 16px ~ 100% */
    /* 
        đưa về =62.5% tương đương với 1 rem = 10px 
        nếu muốn đưa về 12px thì chỉ cần ghi 1.2px 
        */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-moblile-tablet {
        display: none;
    }


}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }


}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-moblile {
        display: none;
    }

}